<footer class="mt-auto py-2">
    <div class="container-fluid">
        <hr class="py-0 bg-light"/>
        <div class="row">
            <div class="col-md-6">C'est cassé, gute nacht.<span class="small"><br><a
                    href="https://www.instagram.com/jimvda/"
                    target="_blank">Jim van der Aa</a></span></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">12.06.2021</div>
        </div>
    </div>
</footer>
