{% extends "base.html" %}
{% block title %} DB Photos - Jim M104 {% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <ul>
                <li class="list-item">
                    <h2> Pourquoi j'ai choisi de faire une DB Photo ?<br></h2>
                        J'ai choisi de faire un base de données en rapport avec la photographie.<br>
Pourquoi? Très simplement, car c'est ma passion, je le fais tout les week-ends, surtout la photographie de voitures sportives.<br>
                    Je pense que cette base de donnée pourrait m'être utile à m'organiser, pour retrouver des anciennes photos.<br>
                    <br>
                    Vous devez installer les logiciels suivants pour pouvoir lancer mon projet.<br>
UWAMP (https://www.uwamp.com/file/UwAmp.exe) si problèmes (https://www.uwamp.com/fr/?page=download)<br>


Si impossible à faire fonctionner, télécharger le zip et décompresser-le dans un répertoire. Puis double-clic sur UwAmp.exe (https://www.uwamp.com/file/UwAmp.zip)<br>


Python : https://www.python.org/downloads/<br>


Pycharm : https://www.jetbrains.com/fr-fr/student/<br>


Si l'installation est réussie, on peut procéder au lancement.<br>


Pour accéder à mon projet il suffit de télécharger le projet depuis mon GitLab, ou l'ouvrir directement sur PyCharm si vous l'avez sur la machine en local.<br>
Mon Lien GitLab : https://gitlab.com/jimvda/vanderaa_jim_db_photo_info1a<br>


Lancez Pycharm. Cliquez sur GET FROM CVS, saisisez ensuite mon lien GitLab, et il faut ensuite définir un endroit pour le sauuvgarder sur votre machine.<br>


Lorsque cela est fait, cliquez sur "Clone" et Pycharm téléchargera le projet depuis GitLab.<br>


Il faudra ensuite installer l'interpreter Python, cliquez sur "Oui", lorsque le Pop-Up apparaît.<br>


Quand cela est fait on est prêt pour lancer mon projet.<br>


Ensuite, demarrer UwAmp, pourr lancer le server MySql.<br>


Ensuite, importer la base de données grâce à un "run" du fichier "zzzdemos/1_ImportationDumpSql.py" sur PyCharm.<br>


Pour lancer le site, faites un "run" sur le fichier "1_run_server_flask.py" qui se trouve à la racine du projet.<br>


Le projet chargera ensuite, et dans le terminal, un lien apparaîtra avec l'URL du site.<br>
URL DU SITE : http://127.0.0.1:5005/<br>


Maintenant, la base de données est prête, vous pouvez vous amuser à modifier les tables, ajouter des photos, des utilisateurs, etc..<br>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
