{% extends "base.html" %}
{% block title %} photos/Materiel {% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-12">
        <p>Lier du matériel à des photos</p>
        <table class="table table-responsive-sm">
            {% if data %}
            <thead>
            <tr>
                <th class="align-middle">
                    ID
                </th>
                <th class="align-middle">
                    Titre
                </th>
                <th class="align-middle">
                    Lieu
                </th>
                <th class="align-middle">
                    Date de capture
                </th>
                <th class="align-middle">
                    Remarques
                </th>
                <th class="align-middle">
                    Photo
                </th>
            </tr>
            </thead>
            {% endif %}
            {% for row in data %}
            <tbody>
            <tr>
                <th class="align-middle">
                    {{ row.id_photos }}
                </th>
                <th class="align-middle">
                    {{ row.titre_photos }}
                </th>
                <th class="align-middle">
                    {{ row.lieu_photos|default("", True) }}
                </th>
                <th class="align-middle">
                    {{ row.date_photos|default("", True) }}
                </th>
                <th class="align-middle">
                    {{ row.remarques_photos|default("", True) }}
                </th>
                <th class="align-middle">
                    <img class="img" src={{ row.chemin_photos|default(None, True) }}
                         style="border: 0;display:block; width:150px; max-height:auto;"
                         alt="Il faut spécifier le chemin de l'image sur PHPmyAdmin avec le format suivant:
                        \static\images\photos\exemple.jpg">
                </th>
                <th class="text-center">
                    <a class="btn btn-primary" href="{{ url_for('photos_materiel_ajouter_wtf') }}" role="button">Ajouter</a>
                </td>
                <td class="text-center" class="align-middle">
                    <a class="btn btn-warning"
                       href="{{ url_for('photos_materiel_update_wtf', id_photos_btn_edit_html=row.id_photos) }}"
                       role="button">Edit</a>
                </td>
                <td class="text-center" class="align-middle">
                    <a class="btn btn-danger"
                       href="{{ url_for('photos_materiel_delete_wtf', id_photos_btn_delete_html=row.id_photos) }}"
                       role="button">Delete</a>
                </th>
            <tr>
                <td class="align-middle">
                    <a class="btn btn-warning"
                       href="{{ url_for('edit_materiel_photos_selected', id_photos_materiel_edit_html=row.id_photos) }}"
                       role="button">Modifier</a>
                </td>
                <td class="align-middle" colspan="5">
                    {{ row.Materielphotos|default("Matériel Inconnu.", True) }}
                </td>
            </tr>
            </tr>
            </tbody>
            {% else %}
            <tbody>
            <tr>
                <td>
                    Aucun film.
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}"
                       role="button">Add</a>
                </td>
            </tr>
            </tbody>
            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}
