{% extends "base.html" %}
{% block title %} photos {% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-12">
        <p>
            Les photos !
        </p>
        <table class="table table-bordered table-sm">
            {% if data %}
            <thead>
            <tr>
                <th class="align-middle">
                    ID
                </th>
                <th class="align-middle">
                    Titre
                </th>
                <th class="align-middle">
                    Lieu
                </th>
                <th class="align-middle">
                    Date de capture
                </th>
                <th class="align-middle">
                    Remarques
                </th>
                <th class="align-middle">
                    Photo
                </th>
            </tr>
            </thead>
            {% endif %}

            {% for row in data %}
            <tbody>
            <tr>
                <td class="align-middle">
                    {{ row.id_photos }}
                </td>
                <td class="align-middle">
                    {{ row.titre_photos }}
                </td>
                <td class="align-middle">
                    {{ row.lieu_photos }}
                </td>
                <td class="align-middle">
                    {{ row.date_photos }}
                </td>
                <td class="align-middle">
                    {{ row.remarques_photos }}
                </td>
                <th class="align-middle">
                    <img class="img" src={{ row.chemin_photos|default(None, True) }}
                         style="border: 0;display:block; width:150px; max-height:auto;"
                         alt="image masquée FFP3 (in COVID-19 Memory) (absente) mod 104">
                </th>

                <td class="text-center" class="align-middle">
                    <a class="btn btn-primary" href="{{ url_for('photos_ajouter_wtf') }}"
                       role="button">Ajouter</a>
                </td>
                <td class="text-center" class="align-middle">
                    <a class="btn btn-warning"
                       href="{{ url_for('photos_update_wtf', id_photos_btn_edit_html=row.id_photos) }}"
                       role="button">Edit</a>
                </td>
                <td class="text-center" class="align-middle">
                    <a class="btn btn-danger"
                       href="{{ url_for('photos_delete_wtf', id_photos_btn_delete_html=row.id_photos) }}"
                       role="button">Delete</a>
                </td>

                </th>
            </tr>
            </tbody>
            {% else %}
            <tbody>
            <tr>
                <td>
                    Aucun photos.
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('photos_ajouter_wtf') }}"
                       role="button">Ajouter</a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
</div>
{% endblock %}
